@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-primary: var(--color-primary);
  --color-brand-secondary: var(--color-secondary);
  --color-bg-base: var(--color-bg);
  --color-text-base: var(--color-text);
  
  /* Retro Alien Farben */
  --color-retro-green: #00ff00;
  --color-retro-yellow: #ffff00;
  --color-retro-red: #ff0000;
}

:root {
  /* Midnight-Violet Farbpalette */
  --color-primary: #8b5cf6; 
  --color-secondary: #06b6d4;
  --color-bg: #0f0a19;
  --color-text: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

.glow-hover:hover {
  box-shadow: 0 0 20px 2px rgba(139, 92, 246, 0.5);
}